{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="/admin/users"> Użytkownicy </a> <br />

    <a href="/admin/images"> Obrazki </a> <br />

    <a href="/admin/comments"> Komentarze </a>

{% endblock %}
