{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="registerBlock">
        <div class="registerTitle"> Rejestracja </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
