{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% include "baseImagesManage.html.twig" %}
{% endblock %}

{% block bot %}
    {% if nextNumber < pagesNumber %}
        <div class="next">
            <a href="/user/imagesmanage/{{ nextNumber }}">Next</a>
        </div>
    {% endif %}

    {% if previousNumber > 0 %}
        <div class="next">
            <a href="/user/imagesmanage/{{ previousNumber }}">Previous</a>
        </div>
    {% elseif previousNumber == 0 %}
        <div class="next">
            <a href="/user/imagesmanage">Previous</a>
        </div>
    {% endif %}

{% endblock %}


