{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="/user/password"> Zmień hasło </a> <br />

    <a href="/user/mail"> Zmień adres e-mail </a> <br />

    <a href="/user/addimage"> Dodaj obrazek </a> <br />

    <a href="/user/imagesmanage"> Zarządzaj obrazkami </a>
{% endblock %}
